body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center; 
}


.centered-image img {
   width: 450px; 
    height: 550px; 
    border: 5px solid white;
}

.centered-image h2 {
    font-size: 20px; 
}
